<!-- Features Start -->
<div class="container-fluid pt-6 pb-6">
    <div class="container pt-4">
        <div class="row g-0 feature-row wow fadeIn" data-wow-delay="0.1s">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-hammer fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase mb-3">Quality Welding</h5>
                        <p>We deliver superior welding services, ensuring strong, durable, and precise metalwork for all your projects.</p>
                        <!-- <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                            href="#"><b class="bg-white pe-3">Read More</b> <i
                                class="bi bi-arrow-right bg-white ps-3"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.4s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-dollar-sign fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase">Affordable Pricing</h5>
                        <p>Enjoy competitive and transparent pricing for all our welding and metal fabrication services without compromising on quality.</p>
                        <!-- <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                            href="#"><b class="bg-white pe-3">Read More</b> <i
                                class="bi bi-arrow-right bg-white ps-3"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-check-double fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase">Best Welder</h5>
                        <p>Our team comprises highly skilled and certified welders who bring expertise and dedication to every project.</p>
                        <!-- <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                            href="#"><b class="bg-white pe-3">Read More</b> <i
                                class="bi bi-arrow-right bg-white ps-3"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.6s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-tools fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase">Quality Tools</h5>
                        <p>We utilize state-of-the-art welding equipment and high-quality tools to ensure precision and excellence in every job.</p>
                        <!-- <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                            href="#"><b class="bg-white pe-3">Read More</b> <i
                                class="bi bi-arrow-right bg-white ps-3"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


<!-- Features Start -->
<div class="container-fluid feature mt-6 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-0 justify-content-end">
            <div class="col-lg-6 pt-5">
                <div class="mt-5">
                    <h1 class="display-6 text-white text-uppercase mb-4 wow fadeIn" data-wow-delay="0.3s">Why You should Choose Our welding Services</h1>
                    <p class="text-light mb-4 wow fadeIn" data-wow-delay="0.4s">Choose Metalworkers for unparalleled expertise in welding and metal fabrication. Our commitment to quality, precision, and customer satisfaction sets us apart, ensuring every project is completed to the highest standards. We combine advanced techniques with a dedicated team to deliver solutions that are not only strong and durable but also perfectly aligned with your vision.</p>
                    <div class="row g-4 pt-2 mb-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="flex-column text-center border border-5 border-primary p-5">
                                <h1 class="text-white" data-toggle="counter-up">39</h1>
                                <p class="text-white text-uppercase mb-0">Satisfied Clients</p>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="flex-column text-center border border-5 border-primary p-5">
                                <h1 class="text-white" data-toggle="counter-up">41</h1>
                                <p class="text-white text-uppercase mb-0">Complete Projects</p>
                            </div>
                        </div>
                    </div>
                    <div class="border border-5 border-primary p-5">
                        <div class="experience wow fadeIn" data-wow-delay="0.6s">
                            <div class="d-flex justify-content-between mb-2">
                                <span class="text-white text-uppercase">Experience</span>
                                <span class="text-white">80%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="experience wow fadeIn" data-wow-delay="0.7s">
                            <div class="d-flex justify-content-between mb-2">
                                <span class="text-white text-uppercase">Work Done</span>
                                <span class="text-white">95%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End --> 