<!-- Testimonial Start -->
<div class="container-fluid pt-6 pb-6">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase mb-5">What They’re Talking About Our Welding Work</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                <div class="testimonial-img">
                    <div class="animated flip infinite">
                        <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-1.jpg') }}" alt="">
                    </div>
                    <div class="animated flip infinite">
                        <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-2.jpg') }}" alt="">
                    </div>
                    <div class="animated flip infinite">
                        <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-3.jpg') }}" alt="">
                    </div>
                    <div class="animated flip infinite">
                        <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-4.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-1.jpg') }}" alt="">
                            <div class="ms-3">
                                <div class="mb-2">
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                </div>
                                <h5 class="text-uppercase">John Devasya</h5>
                                <span>Project Manager, TechCorp</span>
                            </div>
                        </div>
                        <p class="fs-5">"Metalworkers delivered exceptional quality on our industrial project. Their precision welding and timely completion were truly impressive. Highly recommend their professional services!"</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-2.jpg') }}" alt="">
                            <div class="ms-3">
                                <div class="mb-2">
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                </div>
                                <h5 class="text-uppercase">Xavier Thankam</h5>
                                <span>Lead Engineer, BuildCo</span>
                            </div>
                        </div>
                        <p class="fs-5">"The team at Metalworkers handled our custom fabrication needs with incredible skill. Their attention to detail and commitment to our specifications were outstanding. A reliable partner!"</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-3.jpg') }}" alt="">
                            <div class="ms-3">
                                <div class="mb-2">
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                </div>
                                <h5 class="text-uppercase">Thanu Kumar</h5>
                                <span>Operations Manager, FabWorks</span>
                            </div>
                        </div>
                        <p class="fs-5">"Metalworkers consistently exceeds expectations. Their welding solutions are top-notch, and their ability to complete complex projects on time is a huge asset to our operations."</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid" src="{{ url_for('static', path='img/testimonial-4.jpg') }}" alt="">
                            <div class="ms-3">
                                <div class="mb-2">
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                    <i class="far fa-star text-primary"></i>
                                </div>
                                <h5 class="text-uppercase">Nizamuddin</h5>
                                <span>Architectural Designer, UrbanSteel</span>
                            </div>
                        </div>
                        <p class="fs-5">"The aesthetic quality of Metalworkers' finishes is outstanding. They perfectly translated our architectural designs into beautiful and strong metal structures. A truly professional team!"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End --> 